* {
  box-sizing: border-box;;
}

html {
  font-family: Helvetica Neue, Helvetica, sans-serif;
}

.app {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(/public/img/background.png);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #333;
}

.app > h1 {
  color: white;
}

.landing {
  background-color: rgba(220, 220, 220, .7);
  padding: 15px 30px;
  border-radius: 5px;
}

.landing > h1 {
  color: #FF0000;
  font-weight: normal;
}

.landing > input, .landing > form > input {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
}

.landing > form {
  width: 100%;
  min-width: 300px;
}

.landing > a {
  margin-top: 15px;
  padding: 10px 40px;
  background-color: #333;
  color: #fafafa;
  border-color: transparent;
  display: inline-block;
  text-decoration: none;
  border-radius: 4px;
}

.landing > a:hover, .landing > a:focus {
  background-color: #666;
}

.landing > a:active {
  background-color: #fafafa;
  color: #333;
  border-color: #333;
}

.details, .search {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  overflow-y: scroll;
  background-color: rgba(220, 220, 220, .8);
  padding: 15px 30px;
  border-radius: 5px;
}

pre {
  text-align: left;
}

.search > div > a {
  width: 30%;
  height: 0;
  padding-bottom: 19.8%;
  overflow: hidden;
  margin-bottom: 3%;
  border: 2px solid #333;
  border-radius: 4px;
  color: #333;
  text-decoration: none;
}

.search > div > a {
  width: 100%;
  padding-bottom: 70%;
  height: 0;
  overflow: inherit;
  margin-bottom: inherit;;
  border: none;
  border-radius: inherit;
}

.show-card {
  float: left;
  margin-right: 2%;
  border: 2px solid #333;
  border-radius: 4px;
  width: 32%;
  height: 0;
  padding-bottom: 19.8%;
  overflow: hidden;
  margin-bottom: 2%;
  background-color: #FFF;
}

.show-card:nth-child(3n), .search > div > a:nth-child(3n) > .show-card {
  margin-right: 0;
}

.show-card > img {
  width: 46%;
  float: left;
}

.show-card > div{
  display: block;
  overflow-y: scroll;
}

.show-card > div > h3 {
  margin-top: 0;
  margin-bottom: 5px;
}

.show-card > div > h4 {
  margin-top: 0;
  margin-bottom: 5px;
  color: #666;
  font-size: 13px;
}

.show-card > div > p {
  margin: 0;
  font-size: 13px;
}

.search > header + div {
  margin-top: 25px;
}

header {
  z-index: 10;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  background-color: #fafafa;
  padding: 8px 30px;
}

header > h1 {
  font-weight: normal;
  color: #FF0000;
  margin: 0;
}

header > h1 > a {
  color: #FF0000;
  text-decoration: none;
}

header > h2 {
  font-weight: normal;
  margin: 0;
}

header > h2 > a {
  color: #aaa;
  text-decoration: none;
}

.details > div {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}

.details > div > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

header > input {
  min-width: 250px;
  max-width: 350px;
  width: 33%;
  padding: 4px;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.details > section > img, .details > section > h3 {
  width: 8%;
}

.details > section > img[alt] {
  -webkit-animation: spin 4s infinite linear;
  -moz-animation: spin 4s infinite linear;
  animation: spin 4s infinite linear;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.details > section > * {
  margin: 0 1%;
}

.details > section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 25px;
}

.details > header + section {
  margin-top: 25px;
}

.sbl-game-content {
	display: table;
	width: 100%;
	background-color: #fff;
	/*height: 60px;*/
	position: relative;
  padding: 10px 0px
}

.sbl-teams {
  display: table-cell;
  width: 70%;
  padding: 24px 15px 0px 0px
}

.sbl-team {
	display: table;
	width: 100%;
	height: 50px
}

.sbl-team-logo img {
  max-height: 50px;
  max-width: 60px;
}

.sbl-team-name {
	width: 200px;
  text-align: left;
  display: table-cell;
  line-height: 28px;
  font-size: 2.25rem;
  vertical-align: top;
}

.sbl-team-name span {
  display: block;
  white-space: nowrap;
  font-size: 1.25rem;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis
}

.sbl-team-score {
  display: table-cell;
	vertical-align: middle;
	height: 100%;
	text-align: center;
  width: 35%;
  font-size: 36px;
}

.sbl-game-links {
	text-align: center;
  padding-top: 1.5rem;
}

.sbl-game-links .btn {
  text-indent: 0;
  position: static;
  width: 80%;
  border: 1px solid #36c;
  padding: 14px 9px 9px 9px;
  font-size: 1.125rem;
  display: inline-block;
  border-radius: 5px;
  box-sizing: border-box;
  line-height: 10px;
  color: #36c;
}

.btn:hover {
  background-color: #36c;
  color: #FFF;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
    color: #36c;
}

.sbl-game {
  background-color: #FFF;
}

.sbl-game span {
  font-size: 1.25rem;
  font-weight: 700;
}

.sbl-game .sbl-team-score {
  font-size: 3.5rem;
  font-weight: 700;
}

.sbl-game .team-name {
  width: 400px;
}

.sbl-game .sbl-game-status-info {
  font-size: 27px;
  padding: 10px;
  min-width: 54px;
  height: 54px;
  color: #fff;
  border-radius: 27px;
  background-color: #000;
  display: inline-block;
  box-sizing: border-box;
  margin: 10px auto 0 auto;
}

.mod-game-meta {
  padding: 10px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #ccc;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  display: table;
  text-transform: uppercase;
}

.table-data tbody {
  font-size: 1.5rem;
  background-color: #fff;
  border: 1px solid #ccc;
}

.table-data thead th {
  font-size: 1.125rem;
  text-align: center;
  color: #666;
  padding: 0px 6px;
}

.table-data tbody tr {
  border-top: 1px solid #ccc;
}

.table-data tbody td {
  padding: 10px 6px 4px 6px;
}

.left {
  text-align: left !important;
}
